/*================
Screen styles
Version 1.0
Author: Tangent Snowball FED team
Created: 12.19.2011
Last revised: --
--
Contents:
--
==================*/ 

/*========
[=0: Set font-face rules]
========*/

/*========
[=1: html5doctor.com reset]
v1.6.1 | Last Updated: 2010-09-17 | Author: Richard Clark (richclarkdesign.com)
(jack.armley@tangentsnowball.com: Some lines have been modified, to remove unneccesary styles that will be immediately overridden by the base styles)
========*/
	html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
	nav ul{list-style:none;margin-left:0;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,
	q:before,q:after{content:'';content:none;}
	a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
	del{text-decoration:line-through;}
	abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
	table{border-collapse:collapse;border-spacing:0;}
	input,select{vertical-align:middle;}
	ins{text-decoration:none;}
	hr{display:block;height:1px;border:0;padding:0;}

/*========
[=2:Base globally-available styles]
======== */
	/*--[=2a:Typography]--*/	
		/*-Set webfont stacks for all applicable elements-*/  
			@font-face {
			    font-family: 'SnowconeRegular';
			    src: url('../fonts/snowcone-regular-webfont.eot');
			    src: url('../fonts/snowcone-regular-webfont.eot?#iefix') format('embedded-opentype'),
			         url('../fonts/snowcone-regular-webfont.woff') format('woff'),
			         url('../fonts/snowcone-regular-webfont.ttf') format('truetype'),
			         url('../fonts/snowcone-regular-webfont.svg#SnowconeRegular') format('svg');
			    font-weight: normal;
			    font-style: normal;
			}
		/*-Set base rules for all typographic elements*/
			/*Set base font-family/line-height and declare the px size of an em unit*/    
				body{font:14px/1.45em Arial,helvetica,sans-serif;color:#444;}
			/*Block elements*/   
				p{margin:0 0 0.82em 0;line-height:1.45em;}
				hgroup{position:relative;}
				h1,h2,h3,h4,h5,h6{line-height:1.3em;font-weight:normal;margin:2.08em 0 0.41em 0;color:#111;}
					h1{font-size:3em;margin:1.1em 0 0.83em 0;} 
					h2,h3,h4,h5,h6{font-size:1em;}
				ul,ol,dl{margin:0 0 1.1em 2.5em;padding:1.1em 0 0 0;}	
						ul li,ol li{margin:0 0 0.41em 0;}
					ul{list-style:disc outside;}
						ul ul{margin:0.25em 0 0.5em 1em;}
					ol{list-style:decimal outside;}
						ol ol{margin:0.25em 0 0.5em 1.4em;list-style-type:lower-roman;}
					dl{padding:0;}
						dt{font-weight:bold;margin:0 0 0.41em 0;padding:1.1em 0 0 0;}
						dd{margin:0 0 0.41em 0;}
				blockquote{margin:0 0 2.5em 0;padding:1.1em 0 0 0;font-style:italic;}
					blockquote p{color:#1AAB8A;margin-left:2.5em;}
					blockquote footer{display:block;margin:-0.41em 0 0 2.5em;}
				hr{border-top:1px dotted #ccc;padding:1.1em 0;margin:2.1em 0 0 0;}	
				pre{white-space:pre;width:100%;overflow:auto;margin:1.1em 0;padding:0.82em 0;border:1px dotted #ccc;border-left:none;border-right:none;}
					p pre{margin:0;padding:0;border:none;}
			/*Inline elements*/
				/*Superscript/subscript*/
					sup,sub{position:relative;height:0;line-height:0.1em;}
						sup{bottom:1ex;}
						sub{top:.5ex;}
				/*For marking up content relevency/edits and highlighting content*/		  
					ins{background-color:#B8EEE1;}
					del{text-decoration:line-through;}
					s{color:#666;text-decoration:line-through;}
					mark{background-color:#B8EEE1;color:inherit;font-weight:normal;}
				/*Inline quotes / small print*/	
					q{font-style:italic;color:#1AAB8A;}
					cite{font-style:italic;}
					small{font-weight:normal;font-style:normal;}
				/*phrase tags*/
					strong,b{font-weight:bold;}
					em,i{font-style:italic;}
					dfn,abbr{font-style:inherit;}
					code,samp,kbd{font-family:monospace,courier;}
					var{font-style:italic;font-weight:bold;}
	/*--[=2b:Links]--*/
		:focus{outline:none;}
		/*-Inline links-*/
			a{color:#5038AA;text-decoration:none;font-size:inherit;}
				a:link{color:#5038AA;text-decoration:none;}
				a:visited{color:#5038AA;text-decoration:none;}
				a:hover{color:#8CAC1B;text-decoration:none;}
				a:active{color:#5038AA;text-decoration:none;}		
		/*-Linked images-*/
			a img{border:none;}
	/*--[=2c:Images]--*/
		/*Standalone*/
			img{margin:0 0 1em 0;padding:0.14em 0 0 0;}
		/*Within a figure tag*/
			figure{margin:0 0 2.08em 0;}
				figure img{margin:0 0 0.41em 0;}
				figure figcaption{font-size:0.85em;margin:0;}
	/*--[=2d:Forms]--*/
		/*Set global constants*/
			form{margin:0 0 1em 0;}
				legend{margin:0 0 0.25em 0;}
				label{display:block;margin:0 0 0.25em 0;}   
				button{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
		/*Set styles for full forms (sets of inputs/labels should always be encased in an ordered list for example)*/  
				input,textarea{display:block;width:auto;margin:0 0 0.78em 0;padding:0.5em 5px;border:1px solid #D1D1D1;font-size:1em;line-height:1.4em;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}  
				select{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
				input[type="radio"],input[type="checkbox"]{width:auto;border:none;}
				legend{display:none;}
				form ol{padding:0;margin:0 0 1em 0;list-style:none;} 
	/*--[=2e:Tables]--*/
		table{margin:0 0 1em 0;width:100%;border:none;}
			caption{text-align:left;padding:0 0 0.5em 0;}
			td,th{padding:1em 0;text-align:left;}
			thead{font-weight:bold;}
				thead th{border-bottom:1px solid #dcdcdc;box-shadow:0 1px 0 #fff;}
			tfoot{font-style:italic;}
	/*--[=2d:Display modifiers]--*/
		/*Hide an element*/
			.inv{text-indent:-90000px;height:0;position:absolute;}
		/* Universal clear */
			.clear{clear:both;display:block;overflow:hidden;}
		/* Enhanced Universal Clearfix hack */
			.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
			.clearfix{display:inline-block;}
			/* Start commented backslash hack \*/
				* html .clearfix{height:1%;}
				.clearfix{display:block;}
			/* Close commented backslash hack */

/*========
[=3:Modular components]
======== */ 
	/*--[=3a: Set appearance to relevent elements]--*/
			.app-ico:before{font-family:"SnowconeRegular";text-align:left;padding:0 0.5em 0 0;} 
				.ico-alert:before{content:"A";}
			    .ico-unselected:before{content:"B";}
				.ico-approved:before{content:"C";}
				.ico-expand:before{content:"D";}
				.ico-contract:before{content:"E";}
				.ico-view:before{content:"F";}
				.ico-sync:before{content:"G";}
				.ico-home:before{content:"H";}
	
/*========
[=4:Global layout styles]
======== */
	html{background:#FCF8FA;}
	body{width:700px;margin:0 auto 0 auto;}
	body>h1{background:#E90E8C;color:#fff;text-align:center;margin:0 0 0.5em 0;line-height:1.3em;font-size:2em;text-shadow:0 1px 0 #6D0641;border-radius:0 0 20px 20px;box-shadow:0 1px 0 #999;padding:1em 0;}  
		body>h1:before{font-family:"SnowconeRegular";content:"z";padding:0 0.15em 0 0;}  
	body>p{color:#333;text-shadow:0 1px 0 #fff;font-size:1.2em;line-height:1.5em;padding:0 20px;margin:0 0 2em 0;}  
	#icons{list-style:none;padding:0;margin:0;-moz-column-count:3;-webkit-column-count:3;column-count:3;}  
		#icons li{font-size:1.5em;margin:0;text-shadow:0 1px 0 #fff;padding:0.5em 20px;border-bottom:1px solid rgba(1,1,1,.15);box-shadow:0 1px 0 #fff;}  

/*========
[=6:Media queries]
======== */	
	/*--[=6a:Mobile]--*/
		@media only screen and (min-width:300px) and (max-width:767px) {   
			body{width:90%;}
				body>h1{font-size:1.5em;margin:0 0 1em 0;line-height:1.2em;padding:0.5em 0;} 
				body>p{font-size:1.1em;margin:0 0 1em 0;}
				#icons{-moz-column-count:1;-webkit-column-count:1;column-count:1;}

		}


		
		


	


