

/*========
[=2:Base globally-available styles]
======== */
	/*--[=2a:Typography]--*/	
		/*-Set webfont stacks for all applicable elements-*/  
			@font-face {
			    font-family: 'SnowconeRegular';
			    src: url('../fonts/snowcone-regular-webfont.eot');
			    src: url('../fonts/snowcone-regular-webfont.eot?#iefix') format('embedded-opentype'),
			         url('../fonts/snowcone-regular-webfont.woff') format('woff'),
			         url('../fonts/snowcone-regular-webfont.ttf') format('truetype'),
			         url('../fonts/snowcone-regular-webfont.svg#SnowconeRegular') format('svg');
			    font-weight: normal;
			    font-style: normal;
			}                           
   
			.app-ico:before{font-family:SnowconeRegular;text-align:left;padding:0 0.5em 0 0;content:attr(data-icon);} 

		
		


	


