/*================
Screen styles for the Snowcone icon webfont
Flavour: Vanilla
Version 2.0
Author: Tangent Snowball FED team
Created: 06.01.2012 
Modified: 03.04.2012  

NOTE: For a full list of all glyph codes on the PUA plane this font uses, take a look at fontawesome's brillopads CSS:
https://github.com/FortAwesome/Font-Awesome/blob/master/css/font-awesome.css

==================*/ 

/*========
[=1:Set webfont stack for the icons]
======== */
	@font-face {
	    font-family: 'SnowconeVanilla';
	    src: url('snowcone-vanilla-webfont.eot');
	    src: url('snowcone-vanilla-webfont.eot?#iefix') format('embedded-opentype'),
	         url('snowcone-vanilla-webfont.woff') format('woff'),
	         url('snowcone-vanilla-webfont.ttf') format('truetype'),
	         url('snowcone-vanilla-webfont.svg#SnowconeVanilla') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}                           

/*========
[=2:Set classes to trigger icons]
======== */ 
	.snowcone:before{font-family:'SnowconeVanilla';} 
		.sc-alert:before{content:"\f000";}
	    .sc-cross:before{content:"\f001";}
		.sc-expand:before{content:"\f002";}
		.sc-tick:before{content:"\f003";}
		.sc-contract:before{content:"\f004";}
		.sc-outline_down:before{content:"\f005";}
		.sc-outline_up:before{content:"\f006";}
		.sc-outline_right:before{content:"\f007";}
		.sc-outline_left:before{content:"\f008";}
		.sc-fill_down:before{content:"\f009";}
		.sc-fill_up:before{content:"\f00a";}
		.sc-fill_right:before{content:"\f00b";}
		.sc-fill_left:before{content:"\f00c";}
		.sc-profile:before{content:"\f00d";}
		.sc-search:before{content:"\f00e";}
		.sc-comment:before{content:"\f010";}
		.sc-settings:before{content:"\f011";}
		.sc-edit:before{content:"\f012";}
		.sc-email_closed:before{content:"\f013";}
		.sc-email_open:before{content:"\f014";}
		.sc-logout:before{content:"\f015";}
		.sc-heart:before{content:"\f016";}
		.sc-phone:before{content:"\f017";}
		.sc-rss:before{content:"\f018";} 
		.sc-link:before{content:"\f019";} 
		.sc-stop:before{content:"\f01a";} 
		.sc-mapmarker:before{content:"\f01b";} 
		.sc-favourite:before{content:"\f01c";} 
		.sc-fb_fill:before{content:"\f01d";} 
		.sc-twitter_fill:before{content:"\f01e";}
		/* \f020 is not a valid unicode character. all shifted one down (thanks fontawesome!) */ 
		.sc-gplus_fill:before{content:"\f021";} 
		.sc-profile_blacklist:before{content:"\f022";} 
		.sc-tag:before{content:"\f023";} 
		.sc-tangentsnowball:before{content:"\f024";} 
		.sc-refresh:before{content:"\f025";} 
		.sc-upload:before{content:"\f026";} 
		.sc-download:before{content:"\f027";}  
		.sc-bookmark:before{content:"\f028";} 
		.sc-flag:before{content:"\f029";} 
		.sc-doc_default:before{content:"\f02a";} 
		.sc-info:before{content:"\f02b";} 
		.sc-calendar:before{content:"\f02c";} 
		.sc-print:before{content:"\f02d";} 
		.sc-home:before{content:"\f02e";} 
		.sc-view:before{content:"\f02f";} 
		.sc-sync:before{content:"\f030";} 
		.sc-hcard:before{content:"\f031";} 
		.sc-shop_bag:before{content:"\f032";} 
		.sc-pants:before{content:"\f033";} 
		.sc-pants_granny:before{content:"\f034";} 
		.sc-pants_bikini:before{content:"\f035";} 
		.sc-pants_speedo:before{content:"\f036";} 
		.sc-target:before{content:"\f037";} 
		.sc-trash:before{content:"\f038";} 
		.sc-notes:before{content:"\f039";} 
		.sc-library:before{content:"\f03a";} 
		
/*========
[=3:Ensure legacy browsers still see icons]
======== */ 		
	.snowcone-legacy{font-family:'SnowconeRegular';}

	


