/*================
Screen styles for the Snowcone icon webfont
Version 2.0
Author: Tangent Snowball FED team
Created: 06.01.2012 
Modified: 03.04.2012
==================*/ 

/*========
[=1:Set webfont stack for the icons]
======== */
	@font-face {
	    font-family: 'SnowconeRegular';
	    src: url('snowcone-regular-webfont.eot');
	    src: url('snowcone-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('snowcone-regular-webfont.woff') format('woff'),
	         url('snowcone-regular-webfont.ttf') format('truetype'),
	         url('snowcone-regular-webfont.svg#SnowconeRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}                           

/*========
[=2:Set classes to trigger icons]
======== */ 
	.snowcone:before{font-family:'SnowconeRegular';} 
		.sc-alert:before{content:"A";}
	    .sc-cross:before{content:"B";}
		.sc-tick:before{content:"C";}
		.sc-expand:before{content:"D";}
		.sc-contract:before{content:"E";}
		.sc-view:before{content:"F";}
		.sc-sync:before{content:"G";}
		.sc-home:before{content:"H";}
		.sc-outline_down:before{content:"I";}
		.sc-outline_up:before{content:"J";}
		.sc-outline_right:before{content:"K";}
		.sc-outline_left:before{content:"L";}
		.sc-stop:before{content:"M";}
		.sc-mapmarker:before{content:"N";}
		.sc-favourite:before{content:"O";}
		.sc-profile:before{content:"P";}
		.sc-magnify:before{content:"Q";}
		.sc-comment:before{content:"R";}
		.sc-settings:before{content:"S";}
		.sc-edit:before{content:"T";}
		.sc-email:before{content:"U";}
		.sc-shop_bag:before{content:"V";}
		.sc-logout:before{content:"W";}
		.sc-heart:before{content:"X";} 
		.sc-mobile:before{content:"Y";} 
		.sc-rss:before{content:"Z";} 
		.sc-link:before{content:"a";} 
		.sc-fill_down:before{content:"b";} 
		.sc-fill_up:before{content:"c";} 
		.sc-fill_right:before{content:"d";} 
		.sc-fill_left:before{content:"e";} 
		.sc-facebook:before{content:"f";} 
		.sc-twitter:before{content:"g";} 
		.sc-googleplus:before{content:"h";} 
		.sc-blacklist:before{content:"i";} 
		.sc-tag:before{content:"t";} 
		.sc-speedo:before{content:"y";}  
		.sc-tangentsnowball:before{content:"z";}  		

/*========
[=3:Ensure legacy browsers still see icons]
======== */ 		
	.snowcone-legacy{font-family:'SnowconeRegular';}

	


